/*  MESSAGE TO RECRUITERS :)
    This code was written some time ago
    I leave it as is to keep track of my progress
    
    MESSAGE AUX RECRUTEURS :)
    Ce code a été ecris il y a déja quelques années
    Je le laisse dans l'état afin de garder une trace de mes progrès
*/

 body { margin: 0; padding: 0; box-sizing: border-box; font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; background-color: black;}
 h1 { font-size: 5.8em;}
 h4 { font-size: 3em; font-weight: lighter;}
 a { text-decoration: none; color: white; }
 a:hover { color: red; transition: .3s;}
 .container { background-color: transparent; display: flex; align-items: center; justify-content: center; }
 .box {
     background-image: url('./images-tesla/tesla-bot.jpeg');
     background-size: cover;
     background-repeat: no-repeat;
     width: 100vw;
     height: 100vh;
     transition: .4s ;
     animation-duration: 2s;
     animation-name: slidein;
 }

 .boutonBox { 
    width: 600px; height: 600px;
    display: flex; align-items: center; justify-content: center;
    padding: 20px;
    flex-direction: column;
    animation-duration: 6s;
    animation-name: slideBouton;
    position: absolute; bottom: 0px; 
}

@keyframes slidein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes slideBouton {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
  }

 .boutonBox h1, h4 { color: white; text-align: left; width: 100%; font-weight: lighter; font-size: 4em;}
 .boutonBox h4 { margin-top: -10px; text-align: left; font-size: 1.8em;font-weight: lighter; }

 button{
    display: inline-block;
    position: relative;
    background: none;
    border: none;
    color: white;
    font-size: 2.2em;
    font-weight: lighter;
    cursor: pointer;
    margin: 70px 50px 10px 0px;
    background: rgba(0,0,0,0.09);
    width: 90%;
    animation-duration: 6s;
    animation-name: slideBouton;
  }
  span{
    display: block;
    padding: 20px 80px;
  }
  button::before, button::after{
    content:"";
    width: 0;
    height: 1px;
    position: absolute;
    transition: all 0.2s linear;
    background: linear-gradient(to right, red, orange);
  }
  
  span::before, span::after{
    content:"";
    width:1px;
    height:0;
    position: absolute;
    transition: all 0.2s linear;
    background: linear-gradient(to left, red, orange);
  }
  button:hover::before, button:hover::after{
    width: 100%; color: red;
  }
  button:hover span::before, button:hover span::after{
    height: 100%;
  }

  button:active { transition: .4s; color: white;}


 .btn-2::before, .btn-2::after{
    transition-delay: 0s;
  }
  .btn-2 span::before, .btn-2 span::after{
    transition-delay: 0.2s;
  }
  .btn-2::before{
    right: 0;
    top: 0;
  }
  .btn-2::after{
    left: 0;
    bottom: 0;
  }
  .btn-2 span::before{
    left: 0;
    top: 0;
  }
  .btn-2 span::after{
    right: 0;
    bottom: 0;
  }
  .btn-2:hover::before, .btn-2:hover::after{
    transition-delay: 0.2s;
  }
  .btn-2:hover span::before, .btn-2:hover span::after{
    transition-delay: 0s;
  }

  .container2 {
      width: 100vw;
      height: 100vh;
      display: flex; align-items: center; justify-content: flex-start;
  }

  .robots{ display: flex; align-items: center; justify-content: center; flex-direction: column; 
    background-color: rgb(255, 255, 255); width: auto; height: 100vh; }
  .robots img { height: 700px}
  #r1, #r2, #r3 { border-radius: 50%; width: 120px; height: 120px !important; margin: 30px;
    animation-duration: .5s;
    animation-name: avatar; transition: .5s; filter: drop-shadow(0 0 0.65rem rgb(154, 154, 154));
    }

    .vignette { background-color: violet;}
    .vignette p {color: red;}

    #r1:hover, #r2:hover, #r3:hover {
        transform: scale(1.05);
        transition: .3s;
        cursor: pointer;
    }
    #r1:active, #r2:active, #r3:active {
        transform: scale(.95);
        filter: blur(1px);
        filter: drop-shadow(0 0 0.65rem rgb(255, 0, 0))
    }
    #r2 {
        animation-duration: .7s;
        animation-name: avatar;
    }
    #r3 {
        animation-duration: 1s;
        animation-name: avatar;
    }

    @keyframes avatar {
        from {
            margin-right: 200px;
        }
        to {
            margin-right: 0px;
        }
    }

    @keyframes load {
        from {
            opacity: 0;
        }
        to {
            opacity: 1;
        }
    }


  #robot1 { 
    animation-duration: 3s;
    animation-name:load ; width: 100%; height: auto !important;
  } 

  .logo { width: 80px; height: 80px !important; 
    position: absolute; top:30px; left: 30px
  }

  * {
    box-sizing: border-box;
  }


#myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100vw; 
    min-height: 100vh;
  }
  
  .content {
    position: fixed;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    color: #f1f1f1;
    width: 100%;
    padding: 20px;
  }
  
  #myBtn {
    width: 200px;
    font-size: 18px;
    padding: 10px;
    border: none;
    background: #000;
    color: #fff;
    cursor: pointer;
  }
  
  #myBtn:hover {
    background: #ddd;
    color: black;
  }


  .boxBtnVid{
    position: absolute; bottom: 40px;
    width: 600px;
    height: 300px;
    text-align: center;
  }

  .boutonVid {
      color: white; font-size: 4em;
      line-height: 0px;
      animation-duration: 3s;
      animation-name:load ;
  }
  p {
    color: white; font-size: 2em;
    animation-duration: 4s;
    animation-name:load ;
  }

  .btn {
    color: red; font-size: 3em;
    animation-duration: 4.5s;
    animation-name:load; transition: .2s; 
    position: relative;
    bottom: 30px;
  }
  .btn:hover {
      color: white; transition: .4s;
      transform: translateY(5px);
  }

  blockquote {
    margin: 0;
}

blockquote p {
    padding: 15px;
    background: #eee;
    border-radius: 5px;
}

blockquote p::before {
    content: '\201C';
}

blockquote p::after {
    content: '\201D';
}

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
  /* Styles pour cette Media Queries */
  .container { display: flex; 
    flex-direction: column; 
  }

  .box {
    background-image: url('./images-tesla/tesla-bot.jpeg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vh;
    transition: .4s ;
    animation-duration: 2s;
    animation-name: slidein;
}

  .boutonBox { 
    width: 100%; height: 100%;
    display: flex; align-items: center; justify-content: flex-end;
  }
  .boutonBox h1 { text-align: center; font-size: 3em;}
  .boutonBox h4 { text-align: center;}

  .boxBtnVid{
    position: absolute; bottom: 0px;
    padding-top: 30px;
    width: 100%;
    height: 300px;
    background-color: rgba(0, 0, 0, 0.307) !important;
  }
  .boxBtnVid p {
    font-size: 1.5em;
    padding: 0px 20px;
  }

  .boutonVid {
    color: white; font-size: 3em;
    animation-duration: 3s;
    animation-name:load;
  }

  .btn {
    color: red; font-size: 2em;
    animation-duration: 4.5s;
    animation-name:load; transition: .2s;
    margin-top: 30px;
  }

  .robots{ display: flex; align-items: center; justify-content: center; 
    flex-direction: row; 
    width: 100vw; height: auto; position: absolute; bottom: 0px; 
  }

  #r1, #r2, #r3 { 
    border-radius: 50%; width: 80px; height: 80px !important; 
    margin: 10px 20px;
    animation-duration: .5s;
    animation-name: avatar; transition: .5s; filter: drop-shadow(0 0 0.65rem rgb(154, 154, 154));
  }
  .logo{
    width: 40px; height: 40px !important;
    position: absolute;
    top: 30px; 
    outline: solid 4px white;
  }

  #robot1 { height: 100px}


}
